{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ event.title }}</h1>

  <p><strong>Contact:</strong> <a href="">{{ event.contact }}</a></p>
  <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ event.summary }}</p>
  <p><strong>Type:</strong> {{ event.display_type.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Events</h4>

    {% for instance in event.eventinstance_set.all %}
      <hr />
      <p
        class="{% if instance.status == 'n' %}text-success{% elif instance.status == 'c' %}text-danger{% else %}text-warning{% endif %}">
        {{ instance.get_status_display }}
      </p>
      {% if instance.status != '1' %}
        <p><strong>Date:</strong> {{ instance.date }}</p>
      {% endif %}
      <p class="text-muted"><strong>Id:</strong> {{ instance.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
